<h1 mat-dialog-title>{{data.sectionTitle}}</h1>
<div mat-dialog-content>
    <form #myForm="ngForm">
        <div fxLayout="column">
            <app-message [messages$]="messages$"></app-message>
            <p-dropdown appendTo="body" [filter]="true" [options]="data.suppliers"
                [(ngModel)]="addPurchaseModel.supplier" name="food" placeholder="{{data.selectTitle}}"
                optionLabel="name" [showClear]="true"></p-dropdown>
            <ng-container *ngIf="addPurchaseModel.supplier">
                <mat-form-field style="width: 20%;">
                    <mat-label>Invoice Date</mat-label>
                    <input matInput [(ngModel)]="addPurchaseModel.invoiceDateTime" name="txt-date" required
                        [matDatepicker]="picker2">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2 color="primary"></mat-datepicker>
                </mat-form-field>
                <h3>GST No.</h3> {{addPurchaseModel.supplier.gstin}}
                <h3>Address</h3> {{addPurchaseModel.supplier.address}}
                <div>
                    Cant find the suppier in the above dropdown? Add new supplier from Suppliers tab
                </div>
                <h3>Items</h3>
                <div fxLayout="row" fxLayoutGap="10px"
                    *ngFor="let addItem of addPurchaseModel.items;index as i;last as isLast">
                    <p-dropdown appendTo="body" [filter]="true" [options]="items"
                        [(ngModel)]="addPurchaseModel.items[i]" name="txt-{{i}}" placeholder="Items" optionLabel="name">
                        <ng-template pTemplate="selectedItem">
                            <div class="country-item country-item-value" *ngIf="addPurchaseModel.items[i]">
                                <div> {{addPurchaseModel.items[i].name}} {{addPurchaseModel.items[i].quantityValue}}
                                    {{addPurchaseModel.items[i].quantityName}}
                                </div>
                            </div>
                        </ng-template>
                        <ng-template let-country pTemplate="item">
                            <div class="country-item">
                                <div> {{country?.value.name}} {{country?.value.quantityValue}}
                                    {{country?.value.quantityName}}
                                </div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                    <mat-form-field>
                        <mat-label>Quantity</mat-label>
                        <input matInput required type="number" name="quantity-{{i}}"
                            (change)="calculateTotalAndSubTotal()" [(ngModel)]="addItem.requestedQuantity">
                    </mat-form-field>
                    <div fxLayout="column">
                        <h3>Available Quantity</h3>
                        <h4>{{addItem.quantity}}</h4>
                    </div>
                    <div fxLayout="column">
                        <h3>GST %</h3>
                        <h4>{{addItem.gst}}</h4>
                    </div>
                    <ng-container *ngIf="data.sectionTitle !== billType.Sale">
                        <div fxLayout="column">
                            <h3>Cost Price per item</h3>
                            <h4>{{addItem.priceWithoutTax}}</h4>
                        </div>
                        <div fxLayout="column">
                            <h3>Item Subtotal</h3>
                            <h4>{{addItem.subTotal}}</h4>
                        </div>
                        <div fxLayout="column">
                            <h3>Item Tax</h3>
                            <h4>{{addItem.total - addItem.subTotal}}</h4>
                        </div>
                        <div fxLayout="column">
                            <h3>Item Total</h3>
                            <h4>{{addItem.total}}</h4>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="data.sectionTitle === billType.Sale">
                        <mat-form-field>
                            <mat-label>Selling Price Per Item (Without Tax)</mat-label>
                            <input (change)="calculateTotalAndSubTotal()" name="txt-Selling Price(Without Tax)-{{i}}"
                                min="0" matInput required type="number" [(ngModel)]="addItem.sellingPriceWithoutTax">
                        </mat-form-field>
                        <div fxLayout="column">
                            <h3>Item Subtotal</h3>
                            <h4>{{addItem.subTotal}}</h4>
                        </div>
                        <div fxLayout="column">
                            <h3>Per Item Tax</h3>
                            <h4>{{addItem.sellingPriceWithTax - addItem.sellingPriceWithoutTax}}</h4>
                        </div>
                        <div fxLayout="column">
                            <h3>Total Item Tax</h3>
                            <h4>{{(addItem.sellingPriceWithTax - addItem.sellingPriceWithoutTax) *
                                addItem.requestedQuantity}}
                            </h4>
                        </div>
                        <div fxLayout="column">
                            <h3>Item Total</h3>
                            <h4>{{addItem.total}}</h4>
                        </div>
                    </ng-container>


                    <button mat-stroked-button color="warn" [disabled]="addPurchaseModel.items.length === 1"
                        aria-label="Example icon button with a plus one icon" (click)="removeItem(i)">
                        Delete Item
                    </button>
                    <button mat-stroked-button color="primary" *ngIf="isLast"
                        aria-label="Example icon button with a plus one icon" (click)="onAddItems()">
                        Add Item
                    </button>
                </div>
                <div fxLayout="row" fxLayoutAlign="end">
                    <div fxLayout="column" fxLayoutGap="10px">
                        <h4>Subtotal {{subTotal}}</h4>
                        <h4>GST {{gst}}</h4>
                        <h4>Total {{total}}</h4>
                    </div>
                </div>
            </ng-container>
        </div>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancelClick()">Cancel</button>
    <button mat-flat-button color="primary" (click)="onSubmit(myForm)" cdkFocusInitial>Save</button>
</div>